# ------------------
# C++ Build Output
# ------------------

# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out
*.app
asn_station
ASN-Station

# Build Folders
/build/
build/
cmake-build-debug/
cmake-build-release/
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
compile_commands.json

# Logs
*.log

# Backup files
*~
*.swp
*.swo
*.bak

# Coverage reports
coverage/

# Precompiled headers
Common/pch.hpp.gch

# ------------------
# C# Build Output
# ------------------

# Build output
bin/
obj/
*.dll
*.exe
*.pdb
*.nuget

# User-specific files
*.suo
*.user
*.userosscache
*.sln.ide
*.sln.DotSettings
*.csproj.user

# Packages
packages/
node_modules/

# ------------------
# IDE / Editor Files
# ------------------

# JetBrains (CLion, Rider)
.idea/
*.iml

# VSCode
.vscode/

# Rider
riderModule.iml
/.idea/
/_ReSharper.Caches/

# ------------------
# System / OS Files
# ------------------
.DS_Store
Thumbs.db
